.raod-map-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 45px 10px;
}
.head-road-map h1{
    font-family: 'Alfa Slab One', sans-serif;
    color: white;
    font-size: 45px;
}
.head-road-map p{
    font-family: 'Alfa Slab One', sans-serif;
    color: wheat;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    animation: appear 1s ease-out;
}
.card-road-map{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    max-width: 900px;
    margin-top: 35px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 18px;
    background-color: whitesmoke;
    margin: 15px;
    border-radius: 3px;
}
.card img{
    width: 100%;
    max-width: 50px;
}
.card h1{
    font-family: 'Alfa Slab One', sans-serif;
    color: #0d142f;
}
.card p{
    font-family: 'Alfa Slab One', sans-serif;
    color: #0d142f;
    font-size: 13px;
}
@media (max-width: 706px) {
    .card-road-map{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 421px) {
    .card-road-map{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
